<div class="modal fade" id="<%= form_id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if is_paywall %>
          <h4>You must login or subscribe to view this content</h4>
        <% else %>
          <h4 class="modal-title">Login</h4>
        <% end %>
      </div>
      <%= form_tag('/sessions', method: :post) do %>
        <div class="modal-body text-center">
          <div class="form-group">
            <%= email_field_tag :email, nil, class: 'form-control', placeholder: 'Email' %>
          </div>
          <div class="form-group">
          <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password' %>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <button type="button" class="btn btn-primary">Subscribe!</button>
            <%= submit_tag 'Login', class: 'btn btn-default' %>
          </div>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
