<!DOCTYPE html>
<html>
  <head>
    <title>Zype</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Videos', videos_path %></li>
            <% if user_signed_in? %>
              <li><a href="#"><%= session[:email] %></a></li>
              <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
            <% else %>
              <li><a href="#" data-toggle="modal" data-target="#login-form">Login</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="margin-top"></div>
    <%= render 'layouts/alerts' %>
    <% if !user_signed_in? %>
      <%= render partial: 'sessions/login_form', locals: { is_paywall: false, form_id: 'login-form' } %>
    <% end %>
    <%= yield %>
  </body>
</html>
