<!DOCTYPE html>
<html>
  <head>
    <title>Zype</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
            <li><%= link_to 'Videos', videos_path %></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="margin-top"></div>
    <%= yield %>
  </body>
</html>
